@font-face {
    font-family: 'Inter';
    src: url(fonts/Inter28pt-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url(fonts/Inter28pt-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/**
  Нормализация блочной модели
 */
 *,
 ::before,
 ::after {
   box-sizing: border-box;
 }
 
 /**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
 :where(ul, ol):where([class]) {
   padding-left: 0;
 }
 
 /**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
 body,
 :where(blockquote, figure):where([class]) {
   margin: 0;
 }
 
 /**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
 :where(
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   ul,
   ol,
   dl
 ):where([class]) {
   margin-block: 0;
 }
 
 :where(dd[class]) {
   margin-left: 0;
 }
 
 :where(fieldset[class]) {
   margin-left: 0;
   padding: 0;
   border: none;
 }
 
 /**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
 :where(ul[class]) {
   list-style: none;
 }
 
 :where(address[class]) {
   font-style: normal;
 }
 
 /**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
 p {
   --paragraphMarginBottom: 24px;
 
   margin-block: 0;
 }
 
 /**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
 p:where(:not([class]):not(:last-child)) {
   margin-bottom: var(--paragraphMarginBottom);
 }
 
 
 /**
   Упрощаем работу с изображениями и видео
  */
 img,
 video {
   display: block;
   max-width: 100%;
   height: auto;
 }
 
 /**
   Наследуем свойства шрифт для полей ввода
  */
 input,
 textarea,
 select,
 button {
   font: inherit;
 }
 
 html {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   height: 100%;
   /**
     Убираем скачок интерфейса по горизонтали
     при появлении / исчезновении скроллбара
    */
   scrollbar-gutter: stable;
 }
 
 /**
   Плавный скролл
  */
 html,
 :has(:target) {
   scroll-behavior: smooth;
 }
 
 body {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   min-height: 100%;
   /**
     Унифицированный интерлиньяж
    */
   line-height: 1.5;
 }
 
 /**
   Нормализация высоты элемента ссылки при его инспектировании в DevTools
  */
 a:where([class]) {
   display: inline-flex;
 }
 
 /**
   Курсор-рука при наведении на элемент
  */
 button,
 label {
   cursor: pointer;
 }
 
 /**
   Приводим к единому цвету svg-элементы
  */
 [fill] { fill: currentColor }
 [stroke] { stroke: currentColor }
 
 /**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
 svg * {
   transition-property: fill, stroke;
 }
 
 /**
   Приведение рамок таблиц в классический 'collapse' вид
  */
 :where(table) {
   border-collapse: collapse;
   border-color: currentColor;
 }
 
 /**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
 @media (prefers-reduced-motion: reduce) {
   *,
   ::before,
   ::after {
     animation-duration: 0.01ms !important;
     animation-iteration-count: 1 !important;
     transition-duration: 0.01ms !important;
     scroll-behavior: auto !important;
   }
 }
 :root {
    --color-light: #FFFFFF;
    --color-black:#000;
    --color-gray: #757575;
    --border-radius: 55px;
    --border: 1px solid var(--color-black);
    --font-family-base: 'Inter', sans-serif;
    --input-heigh: 20px;
    --container-width: 1732px;
    --container-padding-x: 15px;
    ---transition-duration: 0.2s;
 }
 body {
    font-family: var(--color-black);
    font-weight: 400;
    font-size: 22px;
    line-height: 1.36;
    color: var(--color-black);
    background-color: var(--color-light);
 }
 a {
  color: var(--color-black);
 }
 a:hover {
  color: var(--color-gray);
 }
 a,
 button, 
 input,
 textarea {
  transition-duration: var(---transition-duration);
 }
 .container {
    max-width: calc(var(--container-width) + var(--container-padding-x)*2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
 } 
 h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    text-transform: uppercase;
 }
 .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  padding-inline: 50px;
  position:relative;
 }
 .header::after {
  content:"";
  position:absolute;
  bottom:0;
  width:93%;
  height:1px;
  margin: 0 auto;
  background: var(--color-black);
 }
 .header-menu-list {
  display: flex;
  column-gap: 35px;
  flex-wrap: wrap;
 }
 .header-menu-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: -0.02em;
 }
 .header-menu-link.is-current {
text-decoration: underline;
text-underline-offset: 5px;
 }
 
 .header-menu-link:not(.is-current):hover {
  border-bottom: var(--border);
 }
 
 .header-info {
  display: flex;
  text-decoration: none;
 }
 .header-info p {
  padding-top: 30px;
  padding-right: 5px;
 }
 .header-info img {
  width: 26px;
  height: 26px;
  margin-top: 30px;
 }
 .header-logo img {
  padding-left: 5px;
 }
 .header-logo {
  flex-shrink: 0;
 }
 .header {
  flex-wrap: wrap;
 }
 @media (max-width: 700px) {
.header-menu {
  order: 1;
  flex-basis: 100%;
  padding-inline: 10px;
}
 }
 @media (max-width: 500px) {
  .header-menu-list {
    column-gap: 15px;
  }
 }
 .visually-hidden {
  display: none;
 }
.banner-body {
  width: 600px;
}
.banner-photo {
  position: absolute;
  right: 50px;
  top: 40px;
}
.banner {
  padding: 40px 50px;
  height: 860px;
position: relative;
}
.banner-cite {
  font-size: 11px;
  line-height: 100%;
  letter-spacing: 0.1em;
text-transform: uppercase;
} 
.banner-title {
font-weight: 500;
font-size: 77px;
line-height: 110%;
text-transform: uppercase;
border-bottom: var(--border);
}
.banner-icon {
  display: flex;
  margin-left: 210px;
  margin-top: -15px;
}
.banner-text {
  display: block;
  font-weight: 400;
font-size: 22px;
line-height: 136%;
letter-spacing: -0.02em;
padding: 310px 0;
width: 478px;
}
.banner::after {
  content: "";
  position: absolute;
  height: 1px;
  background: var(--color-black);
  top: 100%;
  width: 94%;
  left: 50%;
  transform: translateX(-50%);
}
.posts {
  padding: 70px 50px;
  height: 2143px;
}
.circle {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: var(--color-black);
  margin-right: 5px;
}
.posts-menu {
  text-decoration: none;
}
.latest-posts-menu {
  font-weight: 500;
font-size: 19px;
line-height: 100%;
letter-spacing: -0.02em;
text-transform: uppercase;
margin-bottom: 30px;
}
.view-all {
  float: right;
  font-weight: 500;
font-size: 19px;
line-height: 100%;
letter-spacing: -0.02em;
text-transform: uppercase;
}
.filter-card {
  font-weight: 500;
font-size: 11px;
line-height: 100%;
letter-spacing: 0.1em;
text-transform: uppercase;
}
.posts-card-filer {
  position: absolute;
  top: -17px;
  left: 1190px;
  white-space: nowrap;
  font-weight: 500;
font-size: 11px;
line-height: 100%;
letter-spacing: 0.1em;
text-transform: uppercase;
}
.posts-card-category {
  position: relative;
}
.posts-card-all {
  position: absolute;
  top: -17px;
  left: 145px;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 4px 7px 5px 7px;
font-weight: 500;
font-size: 11px;
line-height: 100%;
letter-spacing: 0.1em;
text-transform: uppercase;
text-decoration: none;
}
.posts-card-design {
  position: absolute;
  top: -17px;
  left: 195px;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 4px 7px 5px 7px;
font-weight: 500;
font-size: 11px;
line-height: 100%;
letter-spacing: 0.1em;
text-transform: uppercase;
text-decoration: none;
}
.posts-card-altyn {
  position: absolute;
  top: -17px;
  left: 270px;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 4px 7px 5px 7px;
font-weight: 500;
font-size: 11px;
line-height: 100%;
letter-spacing: 0.1em;
text-transform: uppercase;
text-decoration: none;
}
.posts-card-all:hover {
  background-color: var(--color-black);
  color: var(--color-light);
  transition: all 0.4s ease;
}
.posts-card-altyn:hover {
  background-color: var(--color-black);
  color: var(--color-light);
  transition: all 0.4s ease;
}
.posts-card-design:hover {
  background-color: var(--color-black);
  color: var(--color-light);
  transition: all 0.4s ease;
}
.posts-card-container {
  width: var(--container-width);
  padding: var(--container-padding-x);
}
.posts-card-button {
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 4px 7px 5px 7px;
font-weight: 500;
font-size: 11px;
line-height: 100%;
letter-spacing: 0.1em;
text-transform: uppercase;
text-decoration: none;
height: 20px;
}
.posts-card-description {
font-weight: 500;
font-size: 11px;
line-height: 100%;
letter-spacing: 0.1em;
text-transform: uppercase;
}

